.contact-form{
    display:grid;
    grid-template-columns: 75% ;
    row-gap: 10px;
    justify-content: center;
    
}

.contact-form input, .contact-form textarea{
    margin-bottom: 10px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc
}

.contact-form textarea{
    height: 150px;
    resize:both;
}

.contact-form button{
    
    background-color: #e0a72c;
    color: white;
    width: 45%;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    
}

.contact-form-container{
    display: grid;
    grid-template-columns: 50% 50%;
}



.mv-container{
    background-color: #e0a72c;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 40px;
    user-select: none;
}

.mv-container p{
    font-weight: bold;
}

@media (max-width: 768px) {
    .contact-form-container {
        grid-template-columns: 1fr;
    }

    .contact-form button {
        width: 100%;
    }

    .mv-container {
        margin-top: 20px;
        margin-right: 0;
    }
}
