.category-container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.category-card{

    background-color: chocolate;
    width: 250px;
    padding: 10px;
    text-decoration: none;
    color: #000;
    border-radius: 20px;

}

.category-image{
    width: 200px;
    height: 120px;
}


.category-card:hover{
    background-color: #f0e68c;
}

@media (max-width: 940px) {
    .category-container{
    grid-template-columns: auto auto;
    }
}

@media (max-width: 560px) {
    .category-card{
        width: 150px;
    }
    .category-image{
    width: 100px;
    height: 60px;
    }
    .category-card h2{
        font-size: 16px;
    }
}