.navbar {
    top: 0;
    display: flex;
    position: fixed;
    padding: 0;
    height: 50px;
    width: 100%;
    align-items: stretch;
    background-color: yellowgreen; 
    z-index: 1000;
    
}


.nav-links{
    display: flex;
   padding: 0;
   margin: 0;
   padding-left: 10px;
}

.nav-links li{
    list-style-type: none;
    color: black;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.nav-links a{
    text-decoration: none;
    text-align: center;
    align-content: center;
    padding-right: 3%;
    padding-left: 3%;
}

.nav-links a:hover{
    background-color: green;
    cursor: pointer;
}


/* Icono de menú */
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: black;
    padding-right: 20px;
}

/* Modo responsive */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: yellowgreen;
        flex-direction: column;
        width: 100%;
        padding: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        padding: 10px 0;
        text-align: center;
    }
}
