.category-container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.category-card{

    background-color: chocolate;
    width: 250px;
    padding: 20px;
    text-decoration: none;
    color: #000;
    border-radius: 20px;

}

.category-card:hover{
    background-color: #f0e68c;
}